@tailwind base;

/* Write your own custom base styles here */
.cuerpo {
<<<<<<< Updated upstream
  font-family: 'Libre Baskerville', serif;
=======
  font-family: 'Source Serif Pro', serif;
>>>>>>> Stashed changes
}

.cabeza {
  font-family: 'Libre Franklin', sans-serif;
} 


/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
